<ion-content class="ion-padding">
    <form #form="ngForm" (ngSubmit)="authService.ForgotPassword(passwordResetEmail.value)">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center">
              <h3>Reset Password</h3>
              <p>Please enter your email address to request a password reset.</p>
            </div>
            <div class="ion-padding">
              <ion-item>
                <ion-input name="email" type="text" placeholder="Email Address" #passwordResetEmail required></ion-input>
              </ion-item>
            </div>
            <div class="ion-padding">
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Reset Password</ion-button>
            </div>

            <div class="redirectToLogin ion-text-center">
              <ion-text>
                <span>Go back?<span class="redirect" routerLink="/sign-in"> Log In</span></span>
              </ion-text>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>