<ion-header>
  <ion-toolbar>
    <ion-title>Program Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authService.SignOut()">Log out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">

    <ion-item-divider>
      <ion-list-header>
        <ion-label>My Programs</ion-label>
        <ion-buttons>
          <ion-button (click)="openAddProgramModal()" shape="round" size="small" fill="clear" slot="end">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-list-header>
    </ion-item-divider>

    <ion-item *ngFor="let program of myPrograms$ | async">
      <ion-label>
        <!-- TODO: add click element to nav to workout page -->
        <h2>{{program.name}}</h2>
        <p>{{program.description}}</p>
      </ion-label>
    </ion-item>

    <div *ngIf="(followedPrograms$ | async)?.length > 0">
      <ion-item-divider>
        <ion-list-header>
          <ion-label>Followed Programs</ion-label>
        </ion-list-header>
      </ion-item-divider>
      <ion-item *ngFor="let program of followedPrograms$ | async">
        <ion-label>
          <h2>{{program.name}}</h2>
          <p>{{program.description}}</p>
        </ion-label>
      </ion-item>
    </div>
    
  </ion-list>

</ion-content>