<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="authService.SignIn(userName.value, userPassword.value)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Weights With Friends</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="username" type="text" placeholder="Username" #userName required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" #userPassword required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Log in</ion-button>
          </div>
          <div class="ion-text-center">
            <h4>Or</h4>
          </div>

          <div class="ion-padding ion-text-center">
            <ion-button (click)="authService.GoogleAuth()">
              <ion-icon slot="start" name="logo-googleplus"></ion-icon>
              Log in with Google
            </ion-button>
          </div>
          <div class="forgotPassword ion-text-center">
            <ion-text>
              <span routerLink="/forgot-password">Forgot password</span>
            </ion-text>
          </div>
          <div class="redirectToSignUp ion-text-center">
            <ion-text>
              <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
            </ion-text>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>